my-react-app/public/favicon.ico filter=lfs diff=lfs merge=lfs -text
my-react-app/public/logo192.png filter=lfs diff=lfs merge=lfs -text
my-react-app/public/logo512.png filter=lfs diff=lfs merge=lfs -text
